*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*roboto rules---> font-family: 'Roboto Mono', monospace;*/
html{
    color: #fff;
    font-family: 'Montserrat', sans-serif, 'Arial',sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    text-align: justify;
}
.row{
    margin: 0 auto;
    width: 100hw;
}
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
   }
h1{
    font-size: 300%;  
    line-height: 140%;
    word-spacing: 4px;
    font-weight: 600;
    color: #FFDEAD;
}
.homeBtn{
    position: absolute;
    float: left;
    padding: 20px 0px 0px 20px;
}
.homeBtn p{
    font-size: 50%;
    padding: 10px 0px 0px 0px;
}
.homeBtn a:link, .homeBtn a:visited {
    color: #FFDEAD;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}
.homeBtn a:hover, .homeBtn a:active {
    color: #ff8f5d;
    text-decoration: none;
    text-transform: uppercase;
}
.center{
    display:block;
    margin: 5px auto;
}
/* HOME PAGE HEADER STYLE*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.50)),url(img/paradoxo_quantico_universo.jpg);
    background-size: cover;
    background-position: bottom right;
    height: 100hw;
}

.mainNav{
    float:right;
    list-style: none;
    margin: 70px 40px 50px 40px;
}
.mainNav li{
    display: inline-block;
    margin-left: 40px;
}
.mainNav li a:link, .mainNav li a:visited{
    color: #FFDEAD;
    padding-bottom: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border 0.2s, color 0.2s;
    border-bottom: 1.5px solid transparent;
}
.mainNav li a:hover, .mainNav li a:active{
    color: #ff8f5d;
    padding-bottom: 8px;
    border-bottom: 1.5px solid #ff8f5d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}
.mainTitle{
    position: absolute;
    width: 100hw;
    top: 45%;
    left: 10%;
}
