RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]
RewriteRule ^([a-z0-9_]+)$ painel/view/$1.php [L]


DirectoryIndex index.html
